$dark_gray: #2B2E2E;
$light_gray: #C0C1C1;
$green: #529ECC;

@mixin bold_font {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  padding-top: 4.5rem;
  font-family: 'Dosis', sans-serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.wrapper_with_padding {
  width: 80%;
  margin: 0 auto;
  padding: 3.5rem 0;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.navbar {
  background-color: #5E81B3;
  height: 100px;
}

.content {
  padding-top: 20px;

}

.logo {
  color: white;
  font-size: 120%;
}

.button-css {
  padding-top: 15px;
  padding-right: 20px;
}